#fixed-input {
    position: fixed;
    bottom: 12px;
    left: 12px;
    right: 12px;
}

.q-message-send-button{
    float: right;
    padding: 4px;
    background-color: #05040A;
    border-radius: 4px;
    border-width: 0px;
    height: 54px;
}
.q-message-send-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

.q-download-button{
    margin-left: auto;
    padding: 4px;
    padding-left: 16px;
    background-color: #FFFFFF;
    border-width: 0px;
    height: 54px;
    display: none;
}
.q-download-button:active{
    opacity: 50%;
}


.chatContainer{
    height: 78%;
    overflow-y:auto;
}

.user-message-card{
    padding: 12px;
    /*background-color: #D0E0E8;*/
    background-color: #F1F4F4;
    border-radius: 12px;
    text-align: right;
    margin-bottom: 8px;
}

.bot-message-card{
    padding: 12px;
    /*background-color: #F1F4F4;*/
    border-radius: 12px;
    margin-bottom: 8px;
    /*animation: fade-in 0.5s ease-in-out forwards;*/
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sender-name{
    font-family: 'Roboto', sans-serif;
    font-size: 8pt;
    color: #888888;
}

.message{
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    color: #010101;
}

.logo {
    display: block;
    margin-right: 12px;
    height: 36px;
    padding-left: 8px;
    /*border-radius: 50%;*/
    /*animation-name: spin-and-expand;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;*/
  }

@keyframes spin-and-expand {
  0% {
    transform: rotate(0deg) scale(0);
  }
  100% {
    transform: rotate(1440deg) scale(1);
  }
}

.q-ai-navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 8px;
  }

  .q-ai-pageTitle{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #010101;
}

.q-intro-text{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #010101;
}

@keyframes load {
    0% {
        transform: rotate(0deg) scale(0.5);
    }
    100% {
        transform: rotate(360deg) scale(0.5);
    }
}

.q-suggested-themes{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-radius: 24px;
    border-width: 0px;
    padding: 12px;
    margin-right: 4px;
    margin-bottom: 8px;
    background-color: white;
    border: 1px solid #bdbdbd;
}
.q-suggested-themes:hover{
    background-color: #bdbdbd;
}
.q-suggested-themes:active{
    background-color: #888888;
}

.q-message-textarea{
    width:86%;
    height: 54px;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    border-radius: 4px;
}

.lds-default {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
  }
  .lds-default div {
    position: absolute;
    width: 2px;
    height: 2px;
    background: #bdbdbd;
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
  }
  .lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 12px;
    left: 22px;
  }
  .lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 8px;
    left: 21px;
  }
  .lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 5px;
    left: 18px;
  }
  .lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 4px;
    left: 12px;
  }
  .lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 5px;
    left: 8px;
  }
  .lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 8px;
    left: 5px;
  }
  .lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 12px;
    left: 4px;
  }
  .lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 16px;
    left: 5px;
  }
  .lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 19px;
    left: 8px;
  }
  .lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 20px;
    left: 12px;
  }
  .lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 19px;
    left: 18px;
  }
  .lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 16px;
    left: 21px;
  }
  @keyframes lds-default {
    0%, 20%, 80%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }


  .arrow-down {
    position: absolute;
    top: calc(74vh);
    left: calc(50% - 22px);
    border: 1px solid;
    border-color: #E0E0E0;
    border-radius: 24px;
    animation: jumpInfinite 0.5s;
    animation-timing-function: ease-in-out;
    color: black;
    background-color: #FFFFFF;
    text-align: center;
    display: none;
    opacity: 95%;
    box-shadow: 0px 2px 2px #010101;
  }
  
  @keyframes jumpInfinite {
    0% {
      margin-top: 8px;
      opacity: 0%;
    }
    100% {
      margin-top: 0px;
      opacity: 100%;
    }
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #bdbdbd;
    /*border-radius: 4px;*/
    border-radius: 24px;
    overflow: hidden;
    /*max-width: 750px;*/
    margin: 0 auto;
    padding: 4px;
  }
  
  .search-input {
    flex: 1;
    border: none;
    padding: 8px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    resize: none;
  }
  
  .search-input:focus{
    outline: none;
  }
  .search-input:disabled{
    background-color: white;
  }
  
  .search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    -webkit-tap-highlight-color: transparent;
  }
  
  .search-button i {
    color: #bdbdbd;
  }

  .search-button:active{
    background-color: transparent;
    opacity: 50%;
  }