body {
  padding-top: 50px;
  background-color:rgb(250, 250, 250);
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.wrap
{
    width: 252px;
    height: 448px;
    padding: 0;
    overflow: hidden;
}
.frame
{
    width: 720px;
    height: 1280px;
    border: 2px solid black;

    -ms-transform: scale(0.35);
    -moz-transform: scale(0.35);
    -o-transform: scale(0.35);
    -webkit-transform: scale(0.35);
    transform: scale(0.35);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
