#fixed-input {
    position: fixed;
    bottom: 12px;
    left: 12px;
    right: 12px;
}

h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
h2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    color: #AAAAAA;
}

button{
    float: right;
    padding: 4px;
    background-color: #0D0B0E;
    border-radius: 4px;
    border-width: 0px;
    height: 54px;
}

textarea{
    width:86%;
    height: 54px;
}

.chatContainer{
    height: 76%;
    overflow-y:auto;
}

.user-message-card{
    padding: 8px;
    background-color: #D0E0E8;
    border-radius: 4px;
    text-align: right;
    margin-bottom: 8px;
}

.bot-message-card{
    padding: 8px;
    background-color: #FEFEFE;
    border-radius: 4px;
    margin-bottom: 8px;
}

.sender-name{
    font-family: 'Roboto', sans-serif;
    font-size: 8pt;
    color: #888888;
}

.message{
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    color: #010101;
}

.logo {
    animation-name: spin-and-expand;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
  }
  
  @keyframes spin-and-expand {
    0% {
      transform: rotate(0deg) scale(0);
    }
    100% {
      transform: rotate(1440deg) scale(1);
    }
  }
  