.logo {
    display: block;
    margin-right: 12px;
    height: 64px;
    animation-name: spin-and-expand;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    border-radius: 50%;
  }

@keyframes spin-and-expand {
  0% {
    transform: rotate(0deg) scale(0);
  }
  100% {
    transform: rotate(1440deg) scale(1);
  }
}

.q-ai-navbar{
    display: flex;
    align-items: center;
    justify-content: center;
  }

.q-ai-pageTitle{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #1b1b1f;
    padding-left: 8px;
}

/* Use a media query to set the width of the app-button-wrapper based on the screen size */
@media screen and (max-width: 600px) {
  #app-button-wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 601px) {
  #app-button-wrapper {
    width: 90%;
    max-width: 800px; /* Set a maximum width so that the buttons are not too stretched on large screens */
  }
}

/* Use flexbox to center the app-button-wrapper and make the buttons wrap into two columns */
#app-button-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* Style the buttons with some padding, border, and background color */
.q-app-button {
  padding: 20px 20px;
  border-radius: 28px;
  border-style: none;
  background-color: #faf9fe;
  color: #1b1b1f;
  font-size: 28px;
  cursor: pointer;
  margin: 6px;
  width: 90%;
  text-align: left;
}

/* Add some hover effects for the buttons */
.q-app-button:hover {
  background-color: #c6c5c9;
}

.q-app-button:active {
  background-color: #c6c5c9;
  transform: translateY(2px);
}

.q-icon{
  padding-right: 24px;
}
