#fixed-input {
    position: fixed;
    bottom: 12px;
    left: 12px;
    right: 12px;
}

.pageTitle{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    color: white;
}

.q-message-send-button{
    float: right;
    padding: 4px;
    background-color: #0D0B0E;
    border-radius: 4px;
    border-width: 0px;
    height: 54px;
    color: white;
}
.q-message-send-button:active{
    opacity: 50%;
}
.q-post-button{
    background-color: #0D0B0E;
    color: white;
    border-radius: 4px;
    border-width: 0px;
    float: right;
}
.q-post-button:active{
    opacity: 50%;
}

.q-message-textarea{
    width:86%;
    height: 54px;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
}

.chatContainer{
    height: 78%;
    overflow-y:auto;
}

.desc-message-card{
    padding: 8px;
    background-color: #FEFEFE;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    outline: 0px;
}
.story-message-card{
    padding: 8px;
    background-color: #FEFEFE;
    outline: 0px;
}
.mock-message-card{
    padding: 8px;
    background-color: #FEFEFE;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    outline: 0px;
}

.sender-name{
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    color: #AAAAAA;
}

.message{
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    color: #010101;
}

.spinner {
    border: 6px solid #f3f3f3; 
    border-top: 6px solid #AAAAAA;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.logo {
    display: block;
    /*margin: 0 auto;*/
    margin-right: 12px;
    height: 64px;
    animation-name: spin-and-expand;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
  }

@keyframes spin-and-expand {
    0% {
        transform: rotate(0deg) scale(0);
    }
    100% {
        transform: rotate(1440deg) scale(1);
    }
}

.q-ai-navbar{
    display: flex;
    align-items: center;
    justify-content: center;
  }

.q-design-session-link{
    float: left;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
}

a:link{
    color: #77BEFA;
}
a:visited{
    color: #77BEFA;
}