#fixed-input {
    position: fixed;
    bottom: 12px;
    left: 12px;
    right: 12px;
}

.pageTitle{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
}

.sendButton{
    float: right;
    padding: 4px;
    background-color: #FFFFFF;
    border-radius: 4px;
    border-width: 0px;
    height: 54px;
}
.copyButton{
    float: right;
    border-width: 0px;
    height: 12px;
}

.descInput{
    width:86%;
    height: 54px;
}

.chatContainer{
    height: 76%;
    overflow-y:auto;
}

.desc-message-card{
    padding: 8px;
    background-color: #F5F5F5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    outline: 0px;
}
.story-message-card{
    padding: 8px;
    background-color: #F5F5F5;
    outline: 0px;
}
.mock-message-card{
    padding: 8px;
    background-color: #F5F5F5;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    outline: 0px;
}

.sender-name{
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    color: #AAAAAA;
}

.message{
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    color: #010101;
}

.spinner {
    border: 10px solid #f3f3f3; 
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}