#q-fixed-input {
    position: fixed;
    bottom: 12px;
    left: 12px;
    right: 12px;
    z-index: 10000;
}

.q-logo {
  margin-right: 6px;
  height: 40px;
  border-radius: 50%;

}

.q-search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #bdbdbd;
  border-radius: 24px;
  overflow: hidden;
  margin: 0 auto;
  padding: 4px;
  background-color: white;
}

.q-search-input {
  flex: 1;
  border: none;
  padding: 8px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  resize: none;
}

.q-search-input:focus{
  outline: none;
}
.q-search-input:disabled{
  background-color: white;
}

.q-search-button {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 8px;
  -webkit-tap-highlight-color: transparent;
}

.q-search-button i {
  color: #bdbdbd;
}

.q-search-button:active{
  background-color: transparent;
  opacity: 50%;
}

  
@keyframes q-spin-and-expand {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1440deg);
  }
}

@keyframes q-lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.q-lds-default {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
  }
  .q-lds-default div {
    position: absolute;
    width: 2px;
    height: 2px;
    background: #bdbdbd;
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
  }
  .q-lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 12px;
    left: 22px;
  }
  .q-lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 8px;
    left: 21px;
  }
  .q-lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 5px;
    left: 18px;
  }
  .q-lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 4px;
    left: 12px;
  }
  .q-lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 5px;
    left: 8px;
  }
  .q-lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 8px;
    left: 5px;
  }
  .q-lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 12px;
    left: 4px;
  }
  .q-lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 16px;
    left: 5px;
  }
  .q-lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 19px;
    left: 8px;
  }
  .q-lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 20px;
    left: 12px;
  }
  .q-lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 19px;
    left: 18px;
  }
  .q-lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 16px;
    left: 21px;
  }
